@charset "UTF-8";

.find-form {
	display: flex;
	flex-direction: column;
	margin: 0 8rem;
}
.find-form__input {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
	padding: 1rem 1rem;
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
	transition: border-color 0.3s ease-in-out;
}
.find-form__label {
	display: block;
	margin-bottom: 0.5rem;
	font-size: 1.4rem;
}
.find-form-inline__input {
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.5rem;
	outline-style: none;
	margin: 0 0.2rem;
	padding: 1rem 1rem;
	width: 33%;
	margin-bottom: 1.5rem;
}
.find-form__btn {
	width: 48%;
	font-size: 1.8rem;
	border: none;
	padding: 1rem 0;
	cursor: pointer;
	border-radius: 0.5rem;
	margin: 2.5rem 0;
}
.find-form__btn:last-child {
	color: var(--white);
	background-color: var(--purple);
	}
.find-form-inline {
	display: flex;
	justify-content: space-between;
}